*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1B1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  max-width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
}

.search-form__fieldset-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.content__list {
  max-height: 300px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item:focus-visible {
  outline: none;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.result {
  margin-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
}

.content__card-link_current:active {
  background-color: #545050;;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:focus {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  min-width: 15px;
  min-height: 15px;
  background-color: #fff;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__label:hover {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 0 13px 0 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: none;
  outline: 1px solid #FFF;
}

.button {
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 6px 0;
}

.more-button {
  width: 100%;
  height: 34px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: none;
  outline: 1px solid #FFF;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

